/******************************************************************************************************
**************************************** Style general ************************************************
******************************************************************************************************/

body {
    margin: 0;
    padding: 0;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #48433B;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 14px;
}

a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-weight: 400;
}

/******************************************************************************************************
******************************************* Header ****************************************************
******************************************************************************************************/

.header-top {
    padding: 0 15px;
    color: #8e8e8e;
    height: 50px;
}

.header-top ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-top ul li {
    margin: 15px 6px;
    display: inline-block;
}

.header-logo {
    height: 100px;
}

.header-search {
    height: 100px;
    float: left;
    text-align: center;
    margin-top: 24px;
}

.header-search form {
    position: relative;
}

.header-search input[type="search"] {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    color: #999;
    outline: none;
    border: 1px solid #cccccc;
    background: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.header-search .btn-default {
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 38px;
    outline: none;
    box-shadow: none;
    background: #FF7F00;
    padding: 0;
    border-radius: inherit;
    -webkit-appearance: none;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
}

.header-search i.fa {
    font-size: 1em;
    color: #fff;
    padding: 3px;
}

.banner {
    background: url('../img/banner.jpg') no-repeat 0px 0px;
    background-size: cover;
    min-height: 400px;
    padding: 100px 0 0 0;
}

.banner h1 {
    color: #0A51A1;
    font-size: 45px;
}

.banner p {
    color: #0A51A1;
    margin: 10px 0 30px 0;
    font-size: 18px;
}

.banner a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    background-color: #FF7F00;
    padding: 10px 20px;
}

.banner a:hover {
    text-decoration: none;
    background: #999;
}

/******************************************************************************************************
******************************************* Footer ****************************************************
******************************************************************************************************/

footer {
    position: relative;
    top: 100px;
    background-color: #232E40;
    color: #8e8e8e;
}

footer p {
    padding: 25px 0;
    line-height: 40px;
    text-align: center;
}

/******************************************************************************************************
******************************************* Accueil ***************************************************
******************************************************************************************************/

.titreBlocAvant h2{
    margin: 10px 0 0 0;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    background-color: #FF7F00;
    text-transform: uppercase;
}

.bodyBlocAvant {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 2px solid #FF7F00;
}

.bodyBlocAvant i.fa {
    float: left;
    margin-right: 10px;
    color: #0A51A1;
}

.lienBlocAvant {
    text-align: center;
    padding: 10px;
    background: #e1e1e1;
    width: 100%;
}
.bodyBlocAvant a {
    color: #8e8e8e;
    text-decoration: none;
    display: block;
}

/******************************************************************************************************
******************************************* Categorie *************************************************
******************************************************************************************************/

.titreColonneG p {
    margin: 10px 0 0 0;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    background-color: #FF7F00;
    text-transform: uppercase;
}

.bodyColonneG {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 2px solid #FF7F00;
}

.titreCategorie h2 {
    margin: 10px 0 0 0;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    background-color: #FF7F00;
    text-transform: uppercase;
}

.bodyCategorie {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 2px solid #FF7F00;
}

.prixCategorie {
    text-align: right;
    padding: 6px 10px 2px 0;
    border-right: 8px solid #8e8e8e;
    background-color: #eee;
}

.prixCategorieHT {
    font-size: 12px;
    font-weight: bold;
    color: darkcyan;
}

.prixCategorieTTC {
    font-size: 11px;
    color: burlywood;
}

.lienCategorie {
    padding: 10px 0;
}

.lienDetailCategorie, .lienAchatCategorie {
    text-align: center;
}

.lienDetailCategorie a, .lienAchatCategorie a {
    padding: 8px 20px;
    text-decoration: none;
}

.lienDetailCategorie a {
    background-color: cornflowerblue;
}

.lienAchatCategorie a {
    background-color: coral;
}

/******************************************************************************************************
******************************************* Produit ***************************************************
******************************************************************************************************/

.titreProduit h1 {
    margin: 10px 0 0 0;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.bodyProduit {
    margin: 0 0 10px 0;
    padding: 10px;
}

.bodyColonneProduit {
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 2px solid #FF7F00;
}

.lienAchatProduit {
    text-align: center;
}

.prixProduit {
    text-align: right;
    padding: 6px 10px 2px 0;
    text-align: center;
}

.prixProduitHT {
    font-size: 14px;
    font-weight: bold;
    color: darkcyan;
}

.prixProduitTTC {
    font-size: 12px;
    color: burlywood;
}

.lienAchatProduit a {
    width: 100%;
    padding: 6px;
    background-color: beige;
    text-decoration: none;
}

/******************************************************************************************************
******************************************* Media Queries *********************************************
******************************************************************************************************/

/* Styles pour tablettes et smartphones */
@media all and (max-width : 992px){
    .banner {
        min-height: 360px;
    }
}

/* Styles pour tablettes */
@media all and (min-width : 768px) and (max-width : 992px){
    .banner {
        min-height: 300px;
    }
}

/* Styles pour smartphones */
@media all and (max-width : 768px) {
    .banner {
        min-height: 240px;
    }
}