{% extends"::base.html.twig" %}
{% block body %}
    {% include '::modules/navigation.html.twig' %}
    
    <div class="container">
        <div class="row">

            {% include '::modules/colonne-g.html.twig' %}

            <div class="col-md-10">

                <div class="col-md-6">
                    <div class="titreCategorie">
                        <h2>Produit 1</h2>
                    </div>
                    <div class="bodyCategorie">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                        <div class="prixCategorie">
                            <p class="prixCategorieHT">15,50€ HT</p>
                            <p class="prixCategorieTTC">23,80€ TTC</p>
                        </div>
                        <div class="lienCategorie row">
                            <div class="lienDetailCategorie col-xs-6">
                                <a href="{{ path('produit') }}" class="hvr-grow-shadow">Plus d'infos</a>                        
                            </div>
                            <div class="lienAchatCategorie col-xs-6">
                                <a href="#" class="hvr-grow-shadow">Ajouter au panier</a>                        
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="titreCategorie">
                        <h2>Produit 2</h2>
                    </div>
                    <div class="bodyCategorie">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                        <div class="prixCategorie">
                            <p class="prixCategorieHT">15,50€ HT</p>
                            <p class="prixCategorieTTC">23,80€ TTC</p>
                        </div>
                        <div class="lienCategorie row">
                            <div class="lienDetailCategorie col-xs-6">
                                <a href="#" class="hvr-grow-shadow">Plus d'infos</a>                        
                            </div>
                            <div class="lienAchatCategorie col-xs-6">
                                <a href="#" class="hvr-grow-shadow">Ajouter au panier</a>                        
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="titreCategorie">
                        <h2>Produit 3</h2>
                    </div>
                    <div class="bodyCategorie">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                        <div class="prixCategorie">
                            <p class="prixCategorieHT">15,50€ HT</p>
                            <p class="prixCategorieTTC">23,80€ TTC</p>
                        </div>
                        <div class="lienCategorie row">
                            <div class="lienDetailCategorie col-xs-6">
                                <a href="#" class="hvr-grow-shadow">Plus d'infos</a>                        
                            </div>
                            <div class="lienAchatCategorie col-xs-6">
                                <a href="#" class="hvr-grow-shadow">Ajouter au panier</a>                        
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="titreCategorie">
                        <h2>Produit 4</h2>
                    </div>
                    <div class="bodyCategorie">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                        <div class="prixCategorie">
                            <p class="prixCategorieHT">15,50€ HT</p>
                            <p class="prixCategorieTTC">23,80€ TTC</p>
                        </div>
                        <div class="lienCategorie row">
                            <div class="lienDetailCategorie col-xs-6">
                                <a href="#" class="hvr-grow-shadow">Plus d'infos</a>                        
                            </div>
                            <div class="lienAchatCategorie col-xs-6">
                                <a href="#" class="hvr-grow-shadow">Ajouter au panier</a>                        
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    
{% endblock %}
