{% extends"::base.html.twig" %}
{% block body %}
    {% include '::modules/banniere.html.twig' %}
    {% include '::modules/navigation.html.twig' %}
    
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="titreBlocAvant">
                    <h2>Comptabilité</h2>
                </div>
                <div class="bodyBlocAvant">
                    <i class="fa fa-calculator fa-5x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                    <div class="lienBlocAvant hvr-overline-from-center">
                        <a href="{{ path('categorie') }}" class="">Voir plus</a>                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="titreBlocAvant">
                    <h2>Financement</h2>
                </div>
                <div class="bodyBlocAvant">
                    <i class="fa fa-university fa-5x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                    <div class="lienBlocAvant hvr-overline-from-center">
                        <a href="#" class="">Voir plus</a>                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="titreBlocAvant">
                    <h2>Gestion Administrative</h2>
                </div>
                <div class="bodyBlocAvant">
                    <i class="fa fa-pencil-square fa-5x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                    <div class="lienBlocAvant hvr-overline-from-center">
                        <a href="#" class="">Voir plus</a>                        
                    </div>
                </div>
            </div>

        </div>
    </div>           
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="titreBlocAvant">
                    <h2>Gouvernance</h2>
                </div>
                <div class="bodyBlocAvant">
                    <i class="fa fa-gavel fa-5x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                    <div class="lienBlocAvant hvr-overline-from-center">
                        <a href="#" class="">Voir plus</a>                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="titreBlocAvant">
                    <h2>Manifestation</h2>
                </div>
                <div class="bodyBlocAvant">
                    <i class="fa fa-flag fa-5x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                    <div class="lienBlocAvant hvr-overline-from-center">
                        <a href="#" class="">Voir plus</a>                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="titreBlocAvant">
                    <h2>Ressource Humaine</h2>
                </div>
                <div class="bodyBlocAvant">
                    <i class="fa fa-users fa-5x"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus quo libero iusto laudantium ut quia. Inventore delectus reiciendis minus nam vel maxime. Voluptates exercitationem ex praesentium vel est nostrum.</p>
                    <div class="lienBlocAvant hvr-overline-from-center">
                        <a href="#" class="">Voir plus</a>                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
{% endblock %}
