<!-- Bannière -->
<div class="banner text-center">
    <h1>Votre conseiller en gestion des affaires</h1>
    <p>Trouver des solutions adaptées à vos besoins</p>
    <a href="#">Qui sommes-nous</a>
</div>
<!-- Fin Bannière -->